.top {
    margin-top: 70px;
}
.bg{
    margin-top: 115px;
    background-image: url("./2690606.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;
    width: 100%;
    color: gold;
}   
.red{
    width: 100%;
    height: 13.75vh;
    background-color: red;
    text-align: center;
    color: gold;
    font-size: 30px;
}
.font{
    font-size: 20px;
}